
@forward 'element-plus/theme-chalk/src/common/var.scss' with
  (
    $colors: (
      'primary': (
        'base': #E1251B,
      ),
    )
  );

.el-progress {
  .el-progress-bar__innerText {
    width: 100%;
    color: var(--el-table-text-color);
    margin: 0;
    height: 100%;
    line-height: 22px;
  }
}

.el-descriptions .el-descriptions__body .el-descriptions__cell:not(:last-child) {
  padding-right: 24px;
}
